.contact {
  border: 2px solid transparent;
  border-radius: 40px;
  width: fit-content;
  padding: 20px;
  font-weight: 800;
  font-size: 24px;
}

.mobile {
  background-color: #fffc00;
}

.whatsapp {
  background-color: #25d366;
}

.viber {
  background-color: #7360f2;
}

.black {
  color: black;
  font-size: 48px;
}
