@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-text {
  font-family: "Playwrite GB S", cursive;
  font-weight: 800;

  font-size: var(--medium);
  color: #000000;
  cursor: pointer;

  user-select: none; /* For most modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
}

.second-nav {
  padding: 10px;
  display: flex;
}

.second-nav li {
  margin: 0 25px;
  transition: ease-in 0.1s;
}

.nav-a-hover a {
  transition: ease-in 0.1s;
}

.nav-a-hover a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--black);
}

.no-hover:hover {
  border-bottom: 2px solid var(--black);
}

.hamburger-react {
  z-index: 999;
}

.hamburger-container.open {
  color: aliceblue;
}
