:root {
  --large: 32px;
  --medium: 24px;
  --small: 18px;

  --black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  padding: 0;
  background-color: aliceblue;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--black);
  font-size: var(--small);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  color: var(--black);
  font-size: var(--small);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
}
